@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
  align-content: center;
}

.header {
  display:flex;
  justify-content: space-between;
}

/*.content {
  display:flex;
  flex-direction: column;
}*/

.footer {
  display:flex;
  justify-content: space-between;
  /*align-content: flex-end;*/
}

.buttons {
  display:flex;
  justify-content: center;
}

.input {
  display:flex;
  justify-content:center;
}

.left-links, .right-links {
  display:flex;
  gap:10px;
  list-style-type:none;
  margin:0;
  padding: 0;
}

.image {
  display:flex;
  justify-content: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
