@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
  align-content: center;
}

.header {
  display:flex;
  justify-content: space-between;
  padding:12px;
}

.content { /*is here to make sure content is spaced far away from header and footer*/
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
}

.footer {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #eeeeee;
  padding:10px;
  flex-shrink:0; /*prevents footer from getting squished when shrinking page*/
}

.buttons {
  display:flex;
  justify-content: center;
}

.input {
  display:flex;
  justify-content:center;
}

.left-links, .right-links {/*flexbox aligns links next to each other; styling gets rid of bullet points; adds gap*/
  display:flex;
  gap:10px;
  list-style-type:none;
  margin:0;
  padding: 0;
}

a { /*change color and style of header and footer links*/
  color:black;
  text-decoration:none;
}
.image {
  display:flex;
  justify-content: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {/*refers to input container; not input class. note to self: don't name a class the same as a container or else this could get super confusing*/
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
